body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    line-height: 14px;
  }
.txtarea {
  color: rgb(86, 0, 245);
}


#Greeting {
  font-family: Helvetica, sans-serif;
  font-size: 4vw;
  line-height: 120%;
  text-align: center;
  margin: 8vw;
}

#txt {
  font-family: Helvetica, sans-serif;
  font-size: 10vw;
  line-height: 100%;
  text-align: center;
  margin: 4vw;
}


#slider {
  height: 160px !important;
  width: 100% !important;
  overflow: hidden;
  padding: 10px;
}

#slider .rs-container {
  left: 50%;
  margin-left: -300px;
}

#slider .rs-tooltip {
  top: 100px;
}